@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html, body {
    display: flex;
    background-color: white;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    width: 100vw;
}

td {
    width: 45%;
}

table {
    text-align: center;
    margin: 0 auto; /* centers the table horizontally */
    border-collapse: collapse; /* optional: for cleaner border styling */
}