# name: Firebase Deploy

# on:
#   push:
#     branches:
#       - main
#     paths:
#       - "v2/**"
#   workflow_dispatch:

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     defaults:
#       run:
#         working-directory: v2

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       - name: Setup Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: 20

#       - name: Install Firebase CLI
#         run: npm install -g firebase-tools

#       - name: Deploy to Firebase Hosting
#         run: firebase deploy --only hosting
#         env:
#           FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
